{% extends 'index.html' %}
{% load crispy_forms_filters %}


{% block title %}
	<title>Change Password</title>
{% endblock %}

{% block content %}
	<div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class=" card shadow-lg p-5 border-0">

                        <!-- Persuasive Heading -->
                        <h2 class="text-center text-danger fw-bold" style="font-size: 2.5rem;">
                            Change Password
                        </h2>

                        
                        
                        <!-- Login Form -->
                        <form method="post" class="custom-form">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="text-center w-100">
                                <button type="submit"
                                        class="btn btn-primary">
                                    Submit
                                </button>
                            </div>

                        </form>


                        
                        

                        
                    </div>
                </div>
            </div>
    
    
    
    
    
    
        </div>
{% endblock %}

