{% extends 'index.html' %}
{% load crispy_forms_filters %}


{% block title %}
	<title>Log In</title>
{% endblock %}

{% block content %}
	<div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class=" card shadow-lg p-5 border-0">

                        <!-- Persuasive Heading -->
                        <h2 class="text-center text-success fw-bold" style="font-size: 2.5rem;">
                            Log In
                        </h2>

                        <p class="text-center text-muted" style="font-size: 0.9rem;">
                            Welcome back!
                        </p>
                        
                        <!-- Login Form -->
                        <form method="post" class="custom-form">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="text-center w-100">
                                <button type="submit"
                                        class="btn btn-primary">
                                    Log In
                                </button>
                            </div>

                        </form>


                        <!-- Incase of no account... -->
                        <div class="text-center mt-2" >

                            <p style="font-size: 0.9rem;" class="mt-2">Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
                            <p style="font-size: 0.9rem;" class="mt-1 "> <a class ="text-danger text-decoration-underline" href="{% url 'change_password' %}">Change password</a></p>
                        </div>

                        
                    </div>
                </div>
            </div>
    
    
    
    
    
    
        </div>
{% endblock %}

